.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .nav-item {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-item:hover {
    background-color: #ececec;
    color: #0055ff;
  }
  