<!-- V0.1 
<footer class="footer">
  <div class="footer-content">
    <h5>Liens Rapides</h5>
    <ul class="social-links">
      <li><a href="https://twitter.com/">Twitter</a></li>
      <li><a href="https://fr-fr.facebook.com/">Facebook</a></li>
      <li><a href="https://www.instagram.com/">Instagram</a></li>
      <li><a href="https://www.tiktok.com/fr">TikTok</a></li>
    </ul>
  </div>
  
  <div class="footer-bottom">
    <p>© 2014 Chris et Terence. Tous droits réservés.</p>
    <div class="footer-github-links">
      <a href="https://github.com/havrezChristopher">Github Terence</a>
      <a href="https://github.com/TerenceCastelino">Github Christopher</a>
    </div>
  </div>
</footer> -->
<!-- footer.component.html -->
<footer class="footer">
  <div class="footer-section">
    <h5>Top Categories</h5>
    <ul>
      <li><a href="#">Categories......></a></li>
      <li><a href="#">Categories......></a></li>
      <li><a href="#">Categories......></a></li>
      <li><a href="#">Categories......></a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h5>Help</h5>
    <ul>
      <li><a href="#">Lien futur</a></li>
      <li><a href="#">Lien futur</a></li>
      <!-- ... more links ... -->
    </ul>
  </div>
  <!-- ... other sections ... -->
  <div class="footer-section">
    <h5>Newsletter inscription</h5>
    <form>
      <input type="email" placeholder="Email Address" />
      <button type="submit">→</button>
      <label>
        <input type="checkbox" />
        j'accepte de recevoir des nouvelle par Newsletter
      </label>
    </form>
  </div>
  <div class="footer-legal">
    <p>&copy; 2014 Copyright Chris and Terence. All rights reserved.</p>
    <a href="https://github.com/havrezChristopher">Github Terence</a><br />
    <a href="https://github.com/TerenceCastelino">Github Christopher</a>
  </div>
</footer>

