<fieldset>
  <legend>
    <h1>Super Boite de reception !</h1>
  </legend>
  <p>message Success! 🤣</p>
  <!--! Pour la gestion des message   -->
  <!-- <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <!-- <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
   -->
      <!-- Name Column -->
      <!-- <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container> -->
  
      <!-- Weight Column -->
      <!-- <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Poids </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container> -->
  
      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbole </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container> -->
  
      <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
    -->

</fieldset>
