<!-- Le formulaire est lié au 'signupForm' défini dans le composant TypeScript. 
     ngSubmit appelle la méthode 'signup()' lorsque le formulaire est soumis. -->
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
    
    <div>
      <label for="nom">nom:</label>
      <input type="text" id="nom" formControlName="nom">
    </div>
    <div>
      <label for="gsm">gsm:</label>
      <input type="text" id="gsm" formControlName="gsm">
    </div>
    <div>
      <label for="telephone">telephone:</label>
      <input type="text" id="telephone" formControlName="telephone">
    </div>
    <div>
      <label for="prenom">prenom:</label>
      <input type="text" id="prenom" formControlName="prenom">
    </div>
    <div>
      <label for="dateDeNaissance">dateDeNaissance:</label>
      <input type="date" id="dateDeNaissance" formControlName="dateDeNaissance">
    </div>
    <div>
      <label for="role">role:</label>
      <input type="text" id="role" formControlName="role">
    </div>
    <div>
      <label for="genre">genre:</label>
      <input type="text" id="genre" formControlName="genre">
    </div>
    <div>
      <label for="twitter">twitter:</label>
      <input type="text" id="twitter" formControlName="twitter">
    </div><div>
      <label for="snapchat">snapchat:</label>
      <input type="text" id="snapchat" formControlName="snapchat">
    </div><div>
      <label for="facebook">facebook:</label>
      <input type="text" id="facebook" formControlName="facebook">
    </div><div>
      <label for="instagram">instagram:</label>
      <input type="text" id="instagram" formControlName="instagram">
    </div>
  <!-- Champ pour l'email avec validation et messages d'erreur. -->
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="emailUtilisateur">
      <!-- Affiche des messages d'erreur si les conditions de validation de l'email ne sont pas remplies. -->
      <div *ngIf="signupForm.get('emailUtilisateur')?.invalid && signupForm.get('emailUtilisateur')?.touched">
        <span *ngIf="signupForm.get('emailUtilisateur')?.errors?.['required']">Email is required.</span>
        <span *ngIf="signupForm.get('emailUtilisateur')?.errors?.['email']">Enter a valid email.</span>
      </div>
    </div>
    <!-- Champ pour le mot de passe avec validation et messages d'erreur. -->
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="motsDePasse">
      <div *ngIf="signupForm.get('motsDePasse')?.invalid && signupForm.get('motsDePasse')?.touched">
        <span *ngIf="signupForm.get('motsDePasse')?.errors?.['required']">Password is required.</span>
      </div>
    </div>
<!-- Bouton de soumission du formulaire, désactivé si le formulaire n'est pas valide. -->
    <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
    <div *ngIf="signupError">{{ signupError }}</div>
    <!-- Affiche un message d'erreur ou de succès selon l'issue de l'inscription. -->
<div *ngIf="signupSuccess" class="success-message">
  {{ signupSuccess }}
</div>
  </form>