<h3>Route message</h3>
<fieldset>
    
  <legend><h1>Mes Message</h1></legend>

<div class="app-container">
  <header class="app-header">
    <div class="logo">loGo</div>
    <input type="text" class="search-input" placeholder="Search ...">
    <div class="auth-buttons">
      <button class="login-btn">search</button>
    </div>
  </header>

  <aside class="sidebar-navigation">
    <ul class="topics-list">
    </ul>
  </aside>

  <main class="main-content">
    <div class="tabs">
      <button class="tab">lien</button>
      <button class="tab">lien</button><br>
    </div>
    <div class="create-post-section">
      <textarea placeholder="entrer un texte"></textarea><br>
      <button class="upload-image-btn">Upload Image</button>
      <button class="publish-post-btn">Publish Post</button>
    </div>
   
  </main>

</div>
</fieldset>