<fieldset>
  <legend>À propos de notre projet</legend>
  <div class="about-page">
    <h1>À propos de notre projet</h1>

    <div class="project-description">
      <p>
        Notre projet est une application web moderne conçue pour répondre aux besoins de nos utilisateurs grâce à une
        combinaison de technologies avancées.
        Nous avons choisi des technologies de pointe pour le front-end et le back-end afin de garantir une expérience
        utilisateur optimale et des performances exceptionnelles.
      </p>

      <h2>Front-End</h2>
      <ul>
        <li><strong>Angular</strong>: Un framework JavaScript robuste pour des interfaces utilisateur réactives et
          dynamiques.</li>
        <li><strong>Angular Material</strong>: Une bibliothèque de conception d'interface utilisateur basée sur Angular
          pour des interfaces esthétiques et conviviales.</li>
      </ul>

      <h2>Back-End</h2>
      <ul>
        <li>Microsoft SQL Server (MS SQL) : Un système de gestion de base de données relationnelle pour
          stocker efficacement nos données.</li>
        <li>Sequelize Un ORM (Object-Relational Mapping) pour Node.js pour simplifier la manipulation
          des données de la base de données SQL.</li>
        <li>Express.js Un framework Node.js pour créer des API REST et gérer la communication entre le
          front-end et la base de données.</li>
      </ul>
    </div>

    <div class="developer">
      <img src="lien-vers-image-christopher.jpg" alt="Christopher">
      <h2>Christopher</h2>
      <p>Développeur Full Stack</p>
      <a href="https://github.com/havrezChristopher">lien GitHub</a>
      <!-- crée bouton de like  -->
      <!-- <button class="like-button">J'aime</button> -->
    </div>

    <div class="developer">
      <img src="lien-vers-image-terence.jpg" alt="Terence">
      <h2>Terence</h2>
      <p>Développeur Full Stack</p>
      <a href="https://github.com/TerenceCastelino">lien GitHub</a>
      <!-- crée bouton de like  -->
      <!-- <button class="like-button">J'aime</button> -->
    </div>
  </div>
</fieldset>