<div class="about-page mat-typography">
  <!-- Image de fond avec animation 3D -->
  <div class="background-3d-animation"></div>

  <!-- Composant central avec description du projet -->
  <!-- <div class="cart"> -->
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>À propos de notre projet</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Notre projet est une application web moderne conçue pour répondre aux
        besoins de nos utilisateurs...
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Carte pour Front-End -->
  <mat-card class="tech-card">
    <mat-card-header>
      <mat-card-title><mat-icon>code</mat-icon> Front-End</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Utilisation d'<strong>Angular</strong> pour des interfaces utilisateur
        dynamiques et d'<strong>Angular Material</strong> pour des composants
        d'interface utilisateur modernes et réactifs.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Carte pour Back-End -->
  <mat-card class="tech-card">
    <mat-card-header>
      <mat-card-title><mat-icon>storage</mat-icon> Back-End</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Intégration de <strong>Microsoft SQL Server</strong> pour la gestion des
        données, de <strong>Sequelize</strong> comme ORM, et d'<strong
          >Express.js</strong
        >
        pour les API REST.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Cartes pour les profils des développeurs avec des liens et icônes animés -->
  <mat-card class="developer-card">
    <mat-card-header>
      <mat-card-title>Christopher - Développeur Full Stack</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Spécialisé dans la création de solutions innovantes...</p>
      <a mat-button href="https://github.com/havrezChristopher"
        ><mat-icon>link</mat-icon> Profil GitHub</a
      >
    </mat-card-content>
  </mat-card>

  <mat-card class="developer-card">
    <mat-card-header>
      <mat-card-title>Terence - Développeur Full Stack</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Expert en bases de données et systèmes back-end...</p>
      <a mat-button href="https://github.com/TerenceCastelino"
        ><mat-icon>link</mat-icon> Profil GitHub</a
      >
    </mat-card-content>
  </mat-card>

  <!-- Bouton de retour à la page d'accueil avec animation -->
  <button mat-fab color="accent" routerLink="/" class="back-button">
    <mat-icon>home</mat-icon>
  </button>
</div>
<!-- </div> -->
