<nav class="navbar">
  <div class="nav-brand">MonApp</div>
  <div class="nav-items">
    <!-- Liens de navigation statiques -->
    <a routerLink="/">Accueil</a>
    <a routerLink="/about">À Propos</a>
    <a routerLink="/reservation">Reservation</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/login">Connexion</a>
    <a routerLink="/register">Inscription</a>



    <!-- Liens conditionnels en fonction de l'état de connexion -->
    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
      <!-- Menu déroulant pour l'utilisateur connecté -->
      <button mat-button [matMenuTriggerFor]="profileMenu">
        Votre Profil <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item routerLink="/utilisateur/profile">Profil</button>
        <button mat-menu-item routerLink="/utilisateur/parametres">Paramètres</button>
        <button mat-menu-item routerLink="/utilisateur/messages">Messages</button>
      </mat-menu>
    </ng-container>

    <!-- Template pour les utilisateurs non connectés -->
    <ng-template #notLoggedIn>
      <a routerLink="/login">Connexion</a>
      <a routerLink="/register">Inscription</a>
    </ng-template>
  </div>
</nav>
