.navbar {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-brand {
    font-size: 1.5em;
    cursor: pointer;
  }

  .nav-items {
    display: flex;
    align-items: center;
.logout-button {
  background: red;
    color: white
  }
    a, .nav-link {
      color: white;
      text-decoration: none;
      margin-left: 15px;
      padding: 5px 10px;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
.nav-items a {
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #f44336; // Change la couleur au survol
  }
}
    .nav-link-logout {
      background-color: #dc3545;
      &:hover {
        background-color: #c82333;
      }
    }
  }
}
