<nav class="navbar">
  <div class="nav-brand">MonApp</div>
  <div class="nav-items">
    <!-- Liens de navigation statiques -->
    <a routerLink="/">Accueil</a>
    <a routerLink="/about">À Propos</a>
    <a routerLink="/reservation">Reservation</a>
    <a routerLink="/contact">Contact</a>
    <!-- Liens Quand l'utilisateur est loger -->
    <ng-container *ngIf="isLoggedIn;">
      <a routerLink="/utilisateur/profile">Profil</a>
      <a routerLink="/utilisateur/parametres">Paramètres</a>
      <a routerLink="/boiteReception">Messages></a>
      <a (click)="logout()">Déconnexion</a>
    </ng-container>
  <!-- Liens Quand l'utilisateur n'est pas loger -->
    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login">Connexion</a>
      <a routerLink="/register">Inscription</a>
    </ng-container>
  </div>
</nav>
