<p>contact-form works!</p>
<div class="contact-form-container">
    <h2>Contactez-nous</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Nom</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
      </div>
      <div>
        <label for="message">Message</label>
        <textarea id="message" formControlName="message"></textarea>
      </div>
      <button type="submit">Envoyer</button>
    </form>