<p>chat-app works!</p>
<fieldset>
    <legend><h1>Chat</h1></legend>
    <!-- <mat-card>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <mat-form-field>
            <input matInput [(ngModel)]="message" placeholder="Tapez un message">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="sendMessage()">Envoyer</button>
        </mat-card-actions>
      </mat-card> -->
      <div>
        <h1>Chat en temps réel</h1>
        <ul>
          <li *ngFor="let message of messages">{{ message }}</li>
        </ul>
        <input [(ngModel)]="newMessage" placeholder="Saisissez un message" />
        <button (click)="sendMessage()">Envoyer</button>
      </div>
</fieldset>