/* CSS pour la page 404 */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url('/assets/images/404.webp') no-repeat center center;
    background-size: cover;
}
// /assets/images/ang.png
mat-card {
    animation: appear 0.5s ease-out;
    background: rgba(255, 255, 255, 0.8);
    /* Fond légèrement transparent pour une meilleure lisibilité */
    padding: 20px;
    border-radius: 10px;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}