/* page-not-found.component.css */
.page-not-found {
    text-align: center;
    padding: 50px;
    margin-top: 100px;
}

.page-not-found h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.page-not-found p {
    font-size: 20px;
    margin-bottom: 20px;
}

.page-not-found a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}
