// services.component.scss
$primary-color: #4A90E2; // Bleu vif
$background-color: #282C34; // Arrière-plan foncé
$text-color: #ffffff;
$button-color: #4A90E2; // Rose vif
$like-color: #e74c3c; // Rouge pour les likes
$transition-duration: 0.3s;
$max-width-service-box: 300px; // Largeur maximale pour les services

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  color: $text-color;
  max-width: $max-width-service-box;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

  .service-image img {
    width: 100%;
    display: block;
  }

  .service-info {
    padding: 20px;
    text-align: center;

    h3 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }

    .service-actions {
      display: flex;
      gap: 10px;
      justify-content: center;
      width: 100%;

      .add-to-cart, .like-button {
        background-color: $button-color;
        border: none;
        color: $text-color;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color $transition-duration;

        &:hover {
          background-color: darken($button-color, 10%);
        }
      }

      .like-section {
        display: flex;
        align-items: center;

        .like-button {
          background-color: transparent;
          color: $like-color;
        }

        .like-count {
          margin-left: 5px;
        }
      }
    }
  }
}
