
.sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.9s;
  padding-top: 20px;
}

// lien en dessous de l image
.profile {
  text-align: center;
  margin-bottom: 60px;
  border-radius: 50%;
}


.profile-image {
  width: 60px;
  height: 60px;
  margin-bottom: 60px;
}

.menu-item {
  padding: 10px;
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;


  &:hover {
    background-color: #2255e1;
  }

  // sous Menu
  &:hover .submenu {
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 200px;
  }
}

.submenu {
  display: none;
  flex-direction: column;
  padding-left: 20px;
}

.logout {
  position: absolute;
  background: rgba(255, 0, 0, 0.694);
  border-radius: 10px;
  bottom: 50px;
  width: 100%;
  // text-align: center;

  mat-icon {
    animation: bounce 1s infinite;
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  45% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

.scrollable-menu {
  max-height: 400px;
  /* Ajuste selon la hauteur désirée */
  overflow-y: auto;
}