<legend>
  <h1>Connexion</h1>
</legend>
<!-- 
<div class="login-container">
  <img src="user-icon.png" alt="User Logo" />

  <form action="/endpoint" method="post">
    <label for="login">Adresse Email</label>
    <input
      type="login"
      id="login"
      name="login"
      [(ngModel)]="login"
      required
    /><br />

    <label for="password">Mots De passe</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      required
    /><br />

    <input type="checkbox" id="remember" name="remember" />
    <label for="remember"> se Souvenir du mots de passe </label>

    <button (click)="connection()">Connection</button><br />
    <a href="/reset-password">Mots de passe Oublier?</a>
  </form>
</div> -->
<!-- login.component.html -->
<div class="login-container">
  <legend>
    <h1>Connexion</h1>
  </legend>

  <img src="user-icon.png" alt="User Logo" />

  <form action="/endpoint" method="post">
    <label for="login">Adresse Email</label>
    <input type="email" id="login" name="login" [(ngModel)]="login" required /><br />

    <label for="password">Mot De Passe</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required />

    <input type="checkbox" id="remember" name="remember" />
    <label for="remember">Se souvenir du mot de passe</label>

    <button type="button" (click)="connection()">Connexion</button><br />
    <a href="/reset-password">Mot de passe oublié?</a>
  </form>
</div>
