
<h3>Route tableau-de-bord</h3>
<fieldset>
    
  <legend><h1>Tableau-De-Bord</h1></legend>

    <div class="new-people">
        <h3>Nouvelles personnes sur T$H</h3>
        <!-- Liste des miniatures des nouveaux utilisateurs -->
    </div>


      <div class="app-logo">T$H</div>
      <nav class="app-nav">
          <ul>
              <li><a href="#">Nouveautés</a></li>
              <li><a href="#">Découvrir</a></li>
              <li><a href="#">Messagerie</a></li>
              <li><a href="#">Groupes</a></li>
          </ul>
      </nav>
  
          <div class="user-info">
              <img src="image.jpg" alt="Ernest Freeman">
              <h2>titre H2</h2>
              <p>Légere Description</p>
              <button type="button">Envoyer un Message</button>
              <button type="button">Faire un Clin d'Œil</button>
              <button type="button">autre option d'Options</button>
          </div>
          <div class="vip-offer">
              <p>offre promotion VIP</p>
              <button type="button">Envoyer VIP</button>
          </div>

        <div class="profile-details">
            <img src="image.jpg" alt="Ernest Freeman">
            <h2>titre H2</h2>
            <p>Légere Description</p>
            <button type="button">Envoyer un Message</button>
            <button type="button">Faire un Clin d'Œil</button>
            <button type="button">autre option d'Options</button>



          <div class="new-people">
              <h3>Nouvelles personnes sur T$H</h3>
              <!-- Liste des miniatures des nouveaux utilisateurs -->
          </div>
          <div class="user-info">
            <img src="image.jpg" alt="Ernest Freeman">
            <h2>titre H2</h2>
            <p>Légere Description</p>
            <button type="button">Envoyer un Message</button>
            <button type="button">Faire un Clin d'Œil</button>
            <button type="button">autre option d'Options</button>
        </div>
        <div class="vip-offer">
            <p>offre promotion VIP</p>
            <button type="button">Envoyer VIP</button>
        </div>

      <div class="profile-details">
          <img src="image.jpg" alt="Ernest Freeman">
          <h2>titre H2</h2>
          <p>Légere Description</p>
          <button type="button">Envoyer un Message</button>
          <button type="button">Faire un Clin d'Œil</button>
          <button type="button">autre option d'Options</button>



        <div class="new-people">
            <h3>Nouvelles personnes sur T$H</h3>
            <!-- Liste des miniatures des nouveaux utilisateurs -->
        </div>
        <div class="user-info">
            <img src="image.jpg" alt="Ernest Freeman">
            <h2>titre H2</h2>
            <p>Légere Description</p>
            <button type="button">Envoyer un Message</button>
            <button type="button">Faire un Clin d'Œil</button>
            <button type="button">autre option d'Options</button>
        </div>
        <div class="vip-offer">
            <p>offre promotion VIP</p>
            <button type="button">Envoyer VIP</button>
        </div>

      <div class="profile-details">
          <img src="image.jpg" alt="Ernest Freeman">
          <h2>titre H2</h2>
          <p>Légere Description</p>
          <button type="button">Envoyer un Message</button>
          <button type="button">Faire un Clin d'Œil</button>
          <button type="button">autre option d'Options</button>



        <div class="new-people">
            <h3>Nouvelles personnes sur T$H</h3>
            <!-- Liste des miniatures des nouveaux utilisateurs -->
        </div>
        <div class="user-info">
            <img src="image.jpg" alt="Ernest Freeman">
            <h2>titre H2</h2>
            <p>Légere Description</p>
            <button type="button">Envoyer un Message</button>
            <button type="button">Faire un Clin d'Œil</button>
            <button type="button">autre option d'Options</button>
        </div>
        <div class="vip-offer">
            <p>offre promotion VIP</p>
            <button type="button">Envoyer VIP</button>
        </div>

      <div class="profile-details">
          <img src="image.jpg" alt="Ernest Freeman">
          <h2>titre H2</h2>
          <p>Légere Description</p>
          <button type="button">Envoyer un Message</button>
          <button type="button">Faire un Clin d'Œil</button>
          <button type="button">autre option d'Options</button>



        <div class="new-people">
            <h3>Nouvelles personnes sur T$H</h3>
            <!-- Liste des miniatures des nouveaux utilisateurs -->
        </div>
        <div class="user-info">
            <img src="image.jpg" alt="Ernest Freeman">
            <h2>titre H2</h2>
            <p>Légere Description</p>
            <button type="button">Envoyer un Message</button>
            <button type="button">Faire un Clin d'Œil</button>
            <button type="button">autre option d'Options</button>
        </div>
        <div class="vip-offer">
            <p>offre promotion VIP</p>
            <button type="button">Envoyer VIP</button>
        </div>

      <div class="profile-details">
          <img src="image.jpg" alt="Ernest Freeman">
          <h2>titre H2</h2>
          <p>Légere Description</p>
          <button type="button">Envoyer un Message</button>
          <button type="button">Faire un Clin d'Œil</button>
          <button type="button">autre option d'Options</button>



        <div class="new-people">
            <h3>Nouvelles personnes sur T$H</h3>
            <!-- Liste des miniatures des nouveaux utilisateurs -->
        </div>




  