<!-- Le formulaire est lié à loginForm défini dans le composant TypeScript. 
     ngSubmit appelle la méthode login() lorsque le formulaire est soumis. -->
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="emailUtilisateur" />

    <!-- Affiche des messages d'erreur si les conditions de validation de l'email ne sont pas remplies. -->
    <div
      *ngIf="
        loginForm.get('emailUtilisateur')?.invalid &&
        loginForm.get('emailUtilisateur')?.touched
      "
    >
      <span *ngIf="loginForm.get('emailUtilisateur')?.errors?.['required']"
        >Adresse email Obligatoir !.</span
      >
      <span
        *ngIf="loginForm.get('emailUtilisateur')?.errors?.['emailUtilisateur']"
        >Adresse email Obligatoir !</span
      >
    </div>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="motsDePasse" />

    <!-- Affiche un message d'erreur si le champ du mot de passe est vide. -->
    <div
      *ngIf="
        loginForm.get('motsDePasse')?.invalid &&
        loginForm.get('motsDePasse')?.touched
      "
    >
      <!-- ici avec AbstraContol on verifie et on crée les message erreur aproprier -->
      <span *ngIf="loginForm.get('motsDePasse')?.errors?.['required']"
        >Mots de passe Obligatoir</span
      >
      <span *ngIf="loginForm.get('motsDePasse')?.errors?.['motsDePasse']"
        >Mots de passe Obligatoir</span
      >
    </div>
  </div>
  <a routerLink="/forgot-password">Mots de passe Oublier ?</a>
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
  
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
</form>
